//- SVG icon
mixin icon(name)
	svg(class="icon icon--" + name)
		use(xlink:href="img/svg-sprite.svg#" + name)


//- input
mixin input(type, name, dataName, placeholder, required)
	.input-wrap
		input(type=type, name=name, data-name=dataName, placeholder=placeholder, required=required)


//- textarea
mixin textarea(name, dataName, placeholder, required)
	.input-wrap
		textarea(name=name, data-name=dataName, cols="30", rows="5" placeholder=placeholder, required=required)

mixin productItem(img, btnName, colModify)
	.custom-col(class="custom-col--" + colModify)
		.b-product-item
			._img-wrap
				if colModify == 'small'
					img._img.lazy(src="img/thumbs/dummy-image-270x340.gif", data-src=img, alt="")
				else if colModify == 'big'
					img._img.lazy(src="img/thumbs/dummy-image-360x260.gif", data-src=img, alt="")
			a.b-trs-btn.-small._link.js-more-popup(href="#product", data-Id="praline1") !{btnName}

mixin productItemModified(img, btnName, colModify, itemModify)
	.custom-col(class="custom-col--" + colModify)
		.b-product-item(class="product-item--" + itemModify)
			._img-wrap
				if colModify == 'small'
					img._img.lazy(src="img/thumbs/dummy-image-270x340.gif", data-src=img, alt="")
				else
					img._img.lazy(src="img/thumbs/dummy-image-360x260.gif", data-src=img, alt="")
			if itemModify == 'bg'
				a.b-trs-btn.-small._link.js-more-title-popup(href="#") !{btnName}
			else
				a.b-trs-btn.-small._link.js-more-popup(href="#product") !{btnName}

mixin productItemHover(img, hoverImg, btnName, colModify, itemModify)
	.custom-col(class="custom-col--" + colModify)
		.b-product-item(class="product-item--" + itemModify)
			._wrap
				if colModify == 'small'
					._img-wrap
						img._img.lazy(src="img/thumbs/dummy-image-270x340.gif", data-src=img, alt="")
					._img-wrap.-hover
						img._img.lazy(src="img/thumbs/dummy-image-270x340.gif", data-src=hoverImg, alt="")
				else
					._img-wrap
						img._img.lazy(src="img/thumbs/dummy-image-360x260.gif", data-src=img, alt="")
					._img-wrap.-hover
						img._img.lazy(src="img/thumbs/dummy-image-360x260.gif", data-src=hoverImg, alt="")
			a.b-trs-btn.-small._link.js-more-title-popup(href="#") !{btnName}
